*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.DS_Store
*xcuserdata*
server/credentials.json
updater.log
server/node_modules/*
server/functions/node_modules/*
server/updater/node_modules
server/pusher/node_modules
server/ttyupdater/node_modules
server/needs-refactoring/node_modules
server/git
